.container {
	width : 100%;
}

* {
margin: 0;
padding: 0;
list-style-type: none;
}


[img src="Images/HA.png"]{
	background-color: #2e1d14;
	margin-top : 2em;
	height: 12em;
	width : 7em;

}


a:link {
    text-decoration: none;
}


/*

h1 {
	text-align : center;
	color : pink;
}


ul, ol {
	margin-left :2px ;
}

p {
	margin-left : 10px;
	padding-bottom : 20px;
	margin-top : 20px;
}


.left-container {
	width : 25%;
	background-color: purple;
	display : inline-block;
}


.right-container{
	width : 74%;
	border : 1px solid black;
	margin : 0 0 0 1px;
	display : inline-block;
}



.presentation img {
	float : left;
	margin-right : 20px;
}

*/


@font-face { Définition d'une nouvelle police nommée Raavi
font-family: 'Raavi';
src: url('Fonts/raavi.ttf');
}


[class*="col-"], footer {
text-align: center;
}



.signature {
	background-color: #2e1d14;
	padding-top : 1em;

}


.presentation {
	background-color: #f4efed;
}


.presentation h1 {
	padding : 0.5em 0 0 0.7em;
	text-align: left;
	margin : 0 0 0 0;
	font-size : 2.5em;
	font-family: Raavi;
	color:#2e1d14;
}


.has {
	font-weight: 900;
}

.nom {
	text-align:left;
	font-weight: 900;
	padding-bottom : 0.4em;
	border-bottom : 2px solid #46c66a;
}

.prenom {
	font-weight: 400;
	padding: 0 13em 0 0;
}


.trait-text {
	border-top : 2px solid #46c66a;
	padding-top : 2em;
}

li  {
	font-size: 1.4em;
	padding : 0.2em 1em 0.2em 1em;
	margin : 0 0 0 2em;
	text-align : center;
	line-height: 40px;
}

[class="nav-about"] {
	margin: 1em 0  0 2em ;
}

.nav-about a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 1em 0 1em;
}

.nav-projects a {
	color:#916C47;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 2.2em 0 2.2em;
}


.nav-contacts a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 1.8em 0 1.8em;
}



.nav-cv a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 3em 0 3em;
}


a:hover {
    border-color: #46c66a;
}




footer li {
	margin : 4em 0.5em 3em 0em;
	padding : 0 0 0 0;
	display : inline-block;
}



[img src="Images/linkedin.png"]{
	height: 1em;
	width : 1em;

}

.projects h2 {
	margin : 1em 0 1em 0;
}

.projects li {
	text-align : left;
	margin : 0 0 0 1em;
	padding : 0 0 0 0;
	list-style-type: square


}