.container {
	width : 100%;
	overflow:hidden;
	display : inline-block;
}
* {
margin: 0;
padding: 0;
list-style-type: none
}


[img src="Images/HA.png"]{
	background-color: #2e1d14;
	margin-top : 2em;
	height: 12em;
	width : 7em;

}


a:link {
    text-decoration: none;
}


/*

h1 {
	text-align : center;
	color : pink;
}


ul, ol {
	margin-left :2px ;
}

p {
	margin-left : 10px;
	padding-bottom : 20px;
	margin-top : 20px;
}


.left-container {
	width : 25%;
	background-color: purple;
	display : inline-block;
}


.right-container{
	width : 74%;
	border : 1px solid black;
	margin : 0 0 0 1px;
	display : inline-block;
}



.presentation img {
	float : left;
	margin-right : 20px;
}

*/


@font-face { Définition d'une nouvelle police nommée Raavi
font-family: 'Raavi';
src: url('Fonts/raavi.ttf');
}


[class*="col-"], footer {
text-align: center;
}



.signature {
	float:left;
	background-color: #2e1d14;
	padding-top : 1em;
	width:25%;
	height:100%;

}


.presentation {
	float:right;
	width:75%;
	background-color: #f4efed;
	overflow:hidden;
	height:100%;
	
}

.presentation img {
	float : left;
	margin : 2em 1em 0.3em 1em;
	height : 12em;
	width  : 13em; 
}


.presentation h1 {
	padding : 0.5em 0 0 0.7em;
	text-align: left;
	margin : 0 0 0 0;
	font-size : 2.5em;
	font-family: Raavi;
	color:#2e1d14;
}

.subtitle {
	padding-top : 0.2em;
}




.has {
	font-weight: 900;
}

.nom {
	text-align:left;
	font-weight: 900;
	padding-bottom : 0.4em;
}

.prenom {
	font-weight: 400;
	padding: 0 0 0 0;
}

.trait-titre {
	float:right;
	margin-top : 1em;
	width : 90%;
	border-bottom : 2px solid #46c66a;
}

.general {
	background-color: #f4efed;
	margin : 2em 0 2em 1em;
	text-align : justify;
	font-family: Raavi;
	color : #2e1d14;
	font-weight: 600;
	line-height: 2em;
	font-size : 130%;
}

.minet { 
	background-color: #f4efed;
	margin : 1em 0 4.7em 1em ;
	text-align: justify;
	font-family: Raavi;
	color : #2e1d14;
	font-weight: 600;
	line-height: 2em;
	font-size : 130%;
	
	}


.trait-text {
	float:right;
	margin : 0 0 0 0;
	width : 90%;
	border-bottom : 2px solid #46c66a;
}

li  {
	font-size: 170%	;
	padding : 0.2em 1em 0.2em 1em;
	margin : 0 0 0 2em;
	text-align : center;
	line-height: 40px;
	display : inline-block; 
}



/*.nav-about {
	margin : 1em 0 1em 3em;
}
.nav-about a {
	color:#916C47;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 1em 0 1em;
}

.nav-projects {
	margin : 40% 0 40% 130%;
}
.nav-projects a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 2.2em 0 2.2em;
}


.nav-contacts {
	margin : 40% 0 40% 130%;
}
.nav-contacts a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 1.8em 0 1.8em;
}


.nav-cv {
	margin : 40% 0 40% 130%;
}
.nav-cv a {
	color:#f4efed;
	border: 2px solid #271710;
	border-radius: 6px;
	padding: 0 3em 0 3em;
}

*/
a:hover {
    border-color: #46c66a;
}




footer li {
	margin : 4em 0.5em 3em 0em;
	padding : 0 0 0 0;
	display : inline-block;
}



[img src="Images/linkedin.png"]{
	height: 1em;
	width : 1em;