
html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
      }



h1 {
	text-align : center;
	color : pink;
}


ul, ol {
	margin-left :2px ;
}

p {
	margin-left : 10px;
	padding-bottom : 20px;
	margin-top : 20px;
}


.left-container {
	width : 25%;
	background-color: purple;
	display : inline-block;
}


.right-container{
	width : 74%;
	border : 1px solid black;
	margin : 0 0 0 1px;
	display : inline-block;
}



.presentation img {
	float : left;
	margin-right : 20px;
}

@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
font-family: 'LearningCurveProRegular';
src: url('Fonts/LearningCurve_OT-webfont.eot');
src: url('Fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
url('Fonts/LearningCurve_OT-webfont.woff') format('woff'),
url('Fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
url('Fonts/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}